%article.lightBox.email-login-form
  %p
    %img{:height => "47", :src => "/assets/logoName.png", :width => "168"}
  %P Get Today's Favorite Looks
  %p by Top Makeup Artists
  = form_for :user, :url => "/users/sign_in" do |f|
    .error
    %label email address
    = f.text_field :email
    %label password
    = f.password_field :password
    = f.submit "LOG IN", :id => "signin_btn", :class => "sign-in-btn"
