%li#link
  %a{:href => "/product"}
    = image_tag(affiliate.photo.try(:url))
    #steps
      %p= affiliate.title
      %span
        %img{:src => "/assets/heart.png"}
        = affiliate.specialist

