#featured_products
  %ul
    %li#link
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "1", :height => "285", :src => "/assets/thumbs/1.jpg", :width => "250"}/
        #steps
          %p Michelle as Marylin Look
          %span
            %img{:src => "/assets/heart.png"}
            Lipstick + blush + eyeliner
    %li#link
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "1", :height => "285", :src => "/assets/thumbs/2.jpg", :width => "250"}/
        #steps
          %p Michelle as Marylin Look
          %span
            %img{:src => "/assets/heart.png"}
            Lipstick + blush + eyeliner
    %li#link
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "1", :height => "285", :src => "/assets/thumbs/3.jpg", :width => "250"}/
        #steps
          %p Michelle as Marylin Look
          %span
            %img{:src => "/assets/heart.png"}
            Lipstick + blush + eyeliner
    %li#link
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "1", :height => "285", :src => "/assets/thumbs/4.jpg", :width => "250"}/
        #steps
          %p Michelle as Marylin Look
          %span
            %img{:src => "/assets/heart.png"}
            Lipstick + blush + eyeliner
    %li#link
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "1", :height => "285", :src => "/assets/thumbs/5.jpg", :width => "250"}/
        #steps
          %p Michelle as Marylin Look
          %span
            %img{:src => "/assets/heart.png"}
            Lipstick + blush + eyeliner
    %li#link
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "1", :height => "285", :src => "/assets/thumbs/6.jpg", :width => "250"}/
        #steps
          %p Michelle as Marylin Look
          %span
            %img{:src => "/assets/heart.png"}
            Lipstick + blush + eyeliner
    %li#link
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "1", :height => "285", :src => "/assets/thumbs/7.jpg", :width => "250"}/
        #steps
          %p Michelle as Marylin Look
          %span
            %img{:src => "/assets/heart.png"}
            Lipstick + blush + eyeliner
    %li#link
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "1", :height => "285", :src => "/assets/thumbs/8.jpg", :width => "250"}/
        #steps
          %p Michelle as Marylin Look
          %span
            %img{:src => "/assets/heart.png"}
            Lipstick + blush + eyeliner
    %li#link
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "1", :height => "285", :src => "/assets/thumbs/9.jpg", :width => "250"}/
        #steps
          %p Michelle as Marylin Look
          %span
            %img{:src => "/assets/heart.png"}
            Lipstick + blush + eyeliner
    %li#link
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "1", :height => "285", :src => "/assets/thumbs/10.jpg", :width => "250"}/
        #steps
          %p Michelle as Marylin Look
          %span
            %img{:src => "/assets/heart.png"}
            Lipstick + blush + eyeliner
    %li#link
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "1", :height => "285", :src => "/assets/thumbs/11.jpg", :width => "250"}
        #steps
          %p Michelle as Marylin Look
          %span
            %img{:src => "/assets/heart.png"}
            Lipstick + blush + eyeliner
    %li#link
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "1", :height => "285", :src => "/assets/thumbs/12.jpg", :width => "250"}
        #steps
          %p Michelle as Marylin Look
          %span
            %img{:src => "/assets/heart.png"}
            Lipstick + blush + eyeliner